body {
  background-color: #e1dfdd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #f27f4c;
  --secondary-clr: #707070;
}

/* Mobil */

/* navbar og burger menu */

.navbar {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
  color: var(--primary-clr);
}

a h2 {
  font-weight: normal;
  text-transform: uppercase;
}

.nav-menu {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 25px;
  right: -100%;
  background-color: var(--secondary-clr);

  align-items: center;
  transition: 0.3s;
  padding: 15% 0 0 0;
}

.burger {
  display: flex;
  background: none;
  border: none;
  z-index: 2;
  justify-content: end;
  width: 100%;
  margin: 2% 5%;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-clr);
}

.burger.active .bar:nth-child(2) {
  opacity: 0;
}

.burger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav-menu.active {
  right: 0;
}

/* Overskrift */

.scrolld {
  padding-top: 20px;
  text-transform: uppercase;

  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-clr);
  text-align: center;
}

.pil {
  width: 6%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.orange2 {
  color: var(--primary-clr);
}

.grey1 {
  color: var(--secondary-clr);
}

.jakob {
  color: var(--primary-clr);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 2.5rem;
  letter-spacing: 3px;
}

.multi {
  color: var(--secondary-clr);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 1rem;
  letter-spacing: 1.5px;
}

.design {
  color: var(--secondary-clr);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 1rem;
  letter-spacing: 1.5px;
}

.student {
  color: var(--secondary-clr);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 1rem;
  letter-spacing: 1.5px;
}

/* Portfolio skrift */

.port {
  text-align: center;
  color: var(--secondary-clr);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 2.5rem;
  letter-spacing: 3px;
  padding-top: 350px;
}

.folio {
  text-align: center;
  color: var(--primary-clr);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 2.5rem;
  letter-spacing: 3px;
  padding-top: 350px;
}

/* About me  */

.about {
  color: var(--primary-clr);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 2.5rem;
  letter-spacing: 3px;
}

.me {
  color: var(--secondary-clr);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
}

img {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.links {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  text-align: center;
}

.links a {
  text-transform: uppercase;
  color: var(--primary-clr);
}

/* My projects  */

.my {
  color: var(--primary-clr);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.projects {
  color: var(--secondary-clr);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 1.5px;
}
#portfolio .container {
  padding-left: 40px;
}

#portfolie .container {
  display: flex;
  width: 100%;
  height: 50vh;
}

#portfolie .container2 {
  display: flex;
  width: 100%;
  height: 50vh;
  margin-bottom: 50px;
}

#portfolie .column1 {
  display: flex;
  margin-left: 20px;
  text-align: center;
}

#portfolie .column2 {
  display: flex;
  margin-left: 20px;
  text-align: center;
}

#portfolie .column3 {
  display: flex;
  margin-left: 20px;
  text-align: center;
}

#portfolie .column4 {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

#portfolie .felt1 {
  font-size: 0.8rem;
  position: relative;
  background-image: url(billeder/techside.webp);
  background-size: cover;
  background-position: center;
  width: 45vw;
  height: 80%;
  flex-grow: 1;
  flex-basis: 400px;
}

#portfolie .felt2 {
  font-size: 0.8rem;
  position: relative;
  background-image: url(billeder/spilforside.webp);
  background-size: cover;
  background-position: center;
  width: 45vw;
  height: 80%;
  flex-grow: 1;
  flex-basis: 400px;
}

#portfolie .felt3 {
  font-size: 0.8rem;
  position: relative;
  background-image: url(billeder/redesign.webp);
  background-size: cover;
  background-position: center;
  width: 45vw;
  height: 80%;
  flex-grow: 1;
  flex-basis: 400px;
}

#portfolie .felt4 {
  font-size: 0.8rem;
  position: relative;
  background-image: url(billeder/UX.webp);
  background-size: cover;
  background-position: center;
  width: 45vw;
  height: 80%;
  flex-grow: 1;
  flex-basis: 400px;
}

/*/ OVERLAYS /*/

#portfolie .overlay1 {
  position: absolute;
  background-color: rgba(192, 192, 192, 0.5);
  width: 100%;
  height: 100%;
}

#portfolie .overlay1:hover {
  background-color: rgba(0, 0, 0, 0);
}

#portfolie .overlay2 {
  position: absolute;
  background-color: rgba(192, 192, 192, 0.5);
  width: 100%;
  height: 100%;
}

#portfolie .overlay2:hover {
  background-color: rgba(0, 0, 0, 0);
}

#portfolie .overlay3 {
  position: absolute;
  background-color: rgba(192, 192, 192, 0.5);
  width: 100%;
  height: 100%;
}

#portfolie .overlay3:hover {
  background-color: rgba(0, 0, 0, 0);
}

#portfolie .overlay4 {
  position: absolute;
  background-color: rgba(192, 192, 192, 0.5);
  width: 100%;
  height: 100%;
}

#portfolie .overlay4:hover {
  background-color: rgba(0, 0, 0, 0);
}
/*/ FONT /*/

#portfolie h3 {
  background-color: var(--primary-clr);
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
  top: 160px;
  position: relative;
}

.txt h3 {
  border-left: 0;
  border-right: 0;
  letter-spacing: 0.2em;
  padding: 14px 10px;
  position: relative;
}

/* My projects first website */

.first {
  text-align: start;
  color: var(--secondary-clr);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.process {
  color: var(--primary-clr);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 1rem;
  letter-spacing: 1px;
}

.box2 {
  text-align: center;
}
.techscreendumps {
  color: var(--secondary-clr);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.orangebig {
  color: var(--primary-clr);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: 3px;
}

#web {
  display: block;

  background-size: contain;
}

#web a {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-clr);
}

h3 {
  font-size: 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-clr);
}

h2 {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-clr);
  text-transform: uppercase;
  font-weight: 300;
}

.firstwebsitep {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-clr);
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

#web .box1 {
  padding-bottom: 5vw;
  text-align: center;
  padding-left: 15vw;
  padding-right: 15vw;
  line-height: 2em;
  padding-top: 2vw;
  font-size: 1em;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}

#web .box2 {
  padding-left: 20vw;
  position: relative;
  margin-right: 9vw;
  left: -5vw;
  top: -3vw;
  display: block;
  flex-direction: row;
}

/* My projects annimations*/

/* My projects redesign*/

.redesignlink {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: underline;
}

.beforeafter {
  text-align: center;
  margin-bottom: -15px;
}

.box2 p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-clr);
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.processredesign img {
  height: 100%;
  width: 100%;
}
.redesign2 {
  text-align: center;
  margin-bottom: -15px;
}
.tekst {
  padding-bottom: 5vw;
  text-align: center;
  padding-left: 15vw;
  padding-right: 15vw;
  /* line-height: 2em;
  padding-top: 2vw;
  font-size: 1em;
  flex-direction: row;
  position: relative;
  justify-content: space-between; */
}
.footerp {
  color: var(--primary-clr);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  text-align: center;
  padding-bottom: 50px;
}

/*Desktop*/

/* Forside */

@media (min-width: 1025px) {
  .jakob {
    color: var(--primary-clr);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    letter-spacing: 3px;
  }

  .scrolld {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-clr);
    text-align: center;
  }

  .pil {
    width: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .multi {
    color: var(--secondary-clr);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
  .design {
    color: var(--secondary-clr);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }

  .student {
    color: var(--secondary-clr);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }

  .port {
    text-align: center;
    color: var(--secondary-clr);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 3rem;
    letter-spacing: 3px;
    padding-top: 350px;
  }

  .folio {
    text-align: center;
    color: var(--primary-clr);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 3rem;
    letter-spacing: 3px;
    padding-top: 350px;
  }

  /* About me  */

  /* .grid {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
  }

  .image {
    grid-area: 1 / 1 / 6 / 4;
  }
  .abouttest {
    grid-area: 1 / 4 / 6 / 6;
  } */

  .about {
    color: var(--primary-clr);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 3rem;
    letter-spacing: 3px;
  }

  .me {
    color: var(--secondary-clr);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }

  .orange {
    color: var(--primary-clr);
    font-family: Arial, Helvetica, sans-serif;

    letter-spacing: 1px;
  }
  .links {
    padding-top: 20px;
  }

  .acting {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
  }

  a {
    font-size: larger;
    padding: 10px;
    text-transform: uppercase;
    color: var(--primary-clr);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .orange {
    font-size: 0.9rem;
  }

  /* My projects  */

  .my {
    color: var(--primary-clr);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 3.5rem;
    letter-spacing: 3px;
  }

  .projects {
    color: var(--secondary-clr);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 2rem;
    letter-spacing: 1.5px;
  }
  #portfolio .container {
    padding-left: 50px;
  }

  #portfolie .container {
    display: flex;
    width: 100%;
    height: 50vh;
  }

  #portfolie .container2 {
    display: flex;
    width: 100%;
    height: 50vh;
    margin-bottom: 50px;
  }

  #portfolie .column1 {
    display: flex;
    margin-left: 20px;
    text-align: center;
  }

  #portfolie .column2 {
    display: flex;
    margin-left: 20px;
    text-align: center;
  }

  #portfolie .column3 {
    display: flex;
    margin-left: 20px;
    text-align: center;
  }

  #portfolie .column4 {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }

  #portfolie .felt1 {
    position: relative;
    background-image: url(billeder/techside.webp);
    background-size: cover;
    background-position: center;
    width: 45vw;
    height: 80%;
    flex-grow: 1;
    flex-basis: 400px;
  }

  #portfolie .felt2 {
    position: relative;
    background-image: url(billeder/spilforside.webp);
    background-size: cover;
    background-position: center;
    width: 45vw;
    height: 80%;
    flex-grow: 1;
    flex-basis: 400px;
  }

  #portfolie .felt3 {
    position: relative;
    background-image: url(billeder/redesign.webp);
    background-size: cover;
    background-position: center;
    width: 45vw;
    height: 80%;
    flex-grow: 1;
    flex-basis: 400px;
  }

  #portfolie .felt4 {
    position: relative;
    background-image: url(billeder/UX.webp);
    background-size: cover;
    background-position: center;
    width: 45vw;
    height: 80%;
    flex-grow: 1;
    flex-basis: 400px;
  }

  /*/ OVERLAYS /*/

  #portfolie .overlay1 {
    position: absolute;
    background-color: rgba(192, 192, 192, 0.5);
    width: 100%;
    height: 100%;
  }

  #portfolie .overlay1:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  #portfolie .overlay2 {
    position: absolute;
    background-color: rgba(192, 192, 192, 0.5);
    width: 100%;
    height: 100%;
  }

  #portfolie .overlay2:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  #portfolie .overlay3 {
    position: absolute;
    background-color: rgba(192, 192, 192, 0.5);
    width: 100%;
    height: 100%;
  }

  #portfolie .overlay3:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  #portfolie .overlay4 {
    position: absolute;
    background-color: rgba(192, 192, 192, 0.5);
    width: 100%;
    height: 100%;
  }

  #portfolie .overlay4:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  /*/ FONT /*/

  #portfolie h3 {
    background-color: var(--primary-clr);
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    top: 160px;
    position: relative;
  }

  .txt h3 {
    border-left: 0;
    border-right: 0;
    letter-spacing: 0.2em;
    padding: 14px 10px;
    position: relative;
  }

  /* First website / Animations */

  .first {
    text-align: start;
    color: var(--secondary-clr);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }

  .process {
    color: var(--primary-clr);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 1rem;
    letter-spacing: 1px;
  }

  .techscreendumps {
    color: var(--secondary-clr);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }

  .orangebig {
    color: var(--primary-clr);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: 3px;
  }

  #web {
    display: block;

    background-size: contain;
  }

  h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-clr);
  }

  h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-clr);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
  }

  .animationsp p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-clr);
    font-size: 0.9rem;
  }

  #web .box1 {
    padding-bottom: 5vw;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    line-height: 2em;
    padding-top: 2vw;
    font-size: 1em;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
  }

  #web .box2 {
    padding-left: 20vw;
    position: relative;
    margin-right: 9vw;
    left: -5vw;
    top: -3vw;
    display: block;
    flex-direction: row;
  }

  /* Redesign */

  .redesignlink {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
  }
  .row {
    display: flex;
  }

  .column {
    flex: 33.33%;
    padding: 40px;
  }

  .processredesign {
    padding: 30px;
  }

  .redesign2 {
    text-align: center;
  }

  .tekst {
    padding-bottom: 5vw;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    line-height: 2em;
    padding-top: 2vw;
    font-size: 1em;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
  }

  /* Nav menu */

  .nav-menu {
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 100%;
    gap: 5px;
    right: -100%;
    background-color: var(--secondary-clr);

    transition: 0.3s;
    padding: 20% 0 0 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  li {
    list-style: none;
  }
  a {
    color: white;
    text-decoration: none;
    color: var(--primary-clr);
  }

  a h2 {
    font-weight: normal;
    text-transform: uppercase;
  }
  .burger {
    display: flex;
    background: none;
    border: none;

    justify-content: end;
    width: 100%;
    margin: 2% 1.9%;
  }

  .bar {
    display: block;
    width: 50px;
    height: 4px;
    margin: 13px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-clr);
  }

  a h2 {
    font-weight: normal;
    font-size: 1.7rem;
  }

  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burger.active .bar:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-22px) rotate(-45deg);
  }

  .nav-menu.active {
    right: 0%;
  }

  /* Footer */

  .footerp {
    color: var(--primary-clr);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 50px;
  }
}
